extends main_nonacademic

block content
    .container-fluid.py-4
        .row
            .col-lg-0.mb-xl-0.mb-4
                .card
                    .card-header.pb-0.pt-3.bg-transparent
                        h6.text-capitalize Search Students
                    .card-body.p-3
                        form#search_form(action='/nac/stuprofile' method='GET')
                            .row
                                .col-lg-6.col-xs-0 
                                    .d-flex.align-items-center
                                        .d-flex.flex-column.w-90
                                            h6.text-dark.text-sm Search By
                                            select(name='searchoption' form='search_form')#searchby.form-select.text-xs.me-8.pe-5.ms-0.mt-1.mb-3.lh-lg
                                                    option(value=0) Index Number
                                                    option(value=1) Name
                                                    option(value=2) Email
                                .col-lg-6.col-xs-0
                                    .d-flex.align-items-center
                                        .d-flex.flex-column.w-90
                                            h6.text-dark.text-sm Keyword
                                            input#keyword.form-control.text-xs.me-8.pe-5.ms-0.mt-1.mb-3.lh-lg(type='text' value='' placeholder='Enter search keyword' name='keyword')
                            .row   
                                .col-lg-0.text-center
                                    input(type="submit" value="Search").btn.btn-primary.btn-sm.mt-3.ps-7.pe-7
                                    
                        .row
                            .d-flex.flex-row.mt-3
                                hr.horizontal.dark.mt-3.w-50
                                |   OR
                                hr.horizontal.dark.mt-3.w-50
                        .row.mt-3
                            .col-lg-4.col-xs-0 
                                .d-flex.align-items-center
                                    .d-flex.flex-column.w-90
                                        h6.text-dark.text-sm Faculty
                                        select#faculty_select.form-select.text-xs.me-8.pe-5.ms-0.mt-1.mb-3.lh-lg(onchange = "onFacultySelect()")
                                            each fac in faculties 
                                                option(value=fac.id) #{fac.Name}
                            .col-lg-4.col-xs-0
                                .d-flex.align-items-center
                                    .d-flex.flex-column.w-90
                                        h6.text-dark.text-sm Batch
                                        select#batch_select.form-select.text-xs.me-8.pe-5.ms-0.mt-1.mb-3.lh-lg
                                            option(value='all') All Batches
                                            each batch in batches 
                                                option(value=batch.id) Batch #{batch.Batch}
                            .col-lg-4.col-xs-0 
                                .d-flex.align-items-center
                                    .d-flex.flex-column.w-90
                                        h6.text-dark.text-sm Degree
                                        select#degree_select.form-select.text-xs.me-8.pe-5.ms-0.mt-1.mb-3.lh-lg
                                            option(value='all') All Degrees
                        .row   
                            .col-lg-0.text-center
                                button.btn.btn-primary.btn-sm.mt-3.ps-7.pe-7(onclick="onFilteredSearch()") Search
        .row.mt-4#stu_table_row.invisible
            .col-lg-0.mb-xl-0.mb-4
                .card
                    .card-header.pb-0.pt-3.bg-transparent
                        h6.text-capitalize Students
                    .card-body.p-3
                        .table-responsive
                            //Class limited-rows-table - used to specify the max height and make scrollbars visible
                            table#stu_table.table.align-items-center
                                tbody#stu_table_body 
                                    
            .row   
                .col-lg-0.text-end
                    button.btn.btn-primary.btn-sm.mt-3.ps-7.pe-7(onclick="onFilteredSearch()") Print
        
                                                        

    script.

        var faculties,batches,degrees;
        $(document).ready(function() {
            
            faculties = JSON.parse(JSON.stringify(!{JSON.stringify(faculties)}));
            batches = JSON.parse(JSON.stringify(!{JSON.stringify(batches)}));
            degrees = JSON.parse(JSON.stringify(!{JSON.stringify(degrees)}));
            sideBarChange();
            onFacultySelect();
        });

        function sideBarChange(){
            document.getElementById("students-nav-link").classList.add('active');
            document.getElementById("today-nav-link").classList.remove('active');
            document.getElementById("pastreports-nav-link").classList.remove('active');
            document.getElementById("students-nav-link").classList.remove('active');
            document.getElementById("semester-nav-link").classList.remove('active');
        }

        var win = navigator.platform.indexOf('Win') > -1;
        if (win && document.querySelector('#sidenav-scrollbar')) {
            var options = {
                damping: '0.5'
            }
            Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
        }

        function onFacultySelect(){
            var faculty_select = document.getElementById("faculty_select");
            var degree_select = document.getElementById("degree_select");
            clearSelectOptions(degree_select);
            
            let selected_fac = faculty_select.value;
            console.log(selected_fac);

            degree_select.add(new Option('All Degrees','all'));
            for(deg in degrees){
                if(degrees[deg].Faculty == selected_fac){
                    degree_select.add(new Option(degrees[deg].Degree,degrees[deg].id),undefined);
                }
            }
            //$('#students-nav-link').classList.add('active');
        }

        function onFilteredSearch(){
            var faculty_selected = document.getElementById("faculty_select").value;
            var batch_selected = document.getElementById("batch_select").value;
            var degree_selected = document.getElementById("degree_select").value;
            console.log(faculty_selected + " : " + batch_selected + " : " + degree_selected);


            $.ajax({
                    type: 'GET',
                    url: '/nac/stu/getfiltered',
                    //headers: {'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')},
                    data: {
                        faculty:faculty_selected,
                        batch:batch_selected,
                        degree:degree_selected,
                    },
                    dataType: 'json',
                    encode: true
                }).done(function (response) {
                    console.log(response);
                    if(response.status=='200'){
                        console.log('success');
                        showStudentsTable(response.students);
                    }else{
                        console.log('error');
                    }
                });
        }

        function showStudentsTable(students){
            console.log(faculties)
            var stu_table_row = document.getElementById("stu_table_row");
            var stu_table = document.getElementById("stu_table_body");
                
            clearSelectOptions(stu_table)
            if(students.length != 0){
                let row,cell,element_p,element_h6,rowCount;

                for(stu in students){
                    rowCount = stu_table.rows.length;
                    row = stu_table.insertRow(rowCount);
                    row.classList.add("limited-rows-tr");
                    row.classList.add("selection-row");
                    row.classList.add("student-selection-row");
                    row.setAttribute("data-id",students[stu].IndexNo);
                    row.setAttribute("onclick","onStudentSelectFromTable(this)");
                    cell = row.insertCell(0);


                    element_p = document.createElement("p");
                    element_p.classList.add("text-xs");
                    element_p.classList.add("font-weight-bold");
                    element_p.classList.add("mb-0");
                    element_p.innerHTML = 'Index :';
                    cell.appendChild(element_p);
                    element_h6 = document.createElement("h6");
                    element_h6.classList.add("text-sm");
                    element_h6.classList.add("mb-0");
                    element_h6.innerHTML = students[stu].IndexNo;
                    cell.appendChild(element_h6);


                    cell = row.insertCell(1);
                    element_p = document.createElement("p");
                    element_p.classList.add("text-xs");
                    element_p.classList.add("font-weight-bold");
                    element_p.classList.add("mb-0");
                    element_p.innerHTML = 'Name :';
                    cell.appendChild(element_p);
                    element_h6 = document.createElement("h6");
                    element_h6.classList.add("text-sm");
                    element_h6.classList.add("mb-0");
                    element_h6.innerHTML = students[stu].Name;
                    cell.appendChild(element_h6);

                    cell = row.insertCell(2);
                    element_p = document.createElement("p");
                    element_p.classList.add("text-xs");
                    element_p.classList.add("font-weight-bold");
                    element_p.classList.add("mb-0");
                    element_p.innerHTML = 'Email :';
                    cell.appendChild(element_p);
                    element_h6 = document.createElement("h6");
                    element_h6.classList.add("text-sm");
                    element_h6.classList.add("mb-0");
                    element_h6.innerHTML = students[stu].Email;
                    cell.appendChild(element_h6);

                    cell = row.insertCell(3);
                    element_p = document.createElement("p");
                    element_p.classList.add("text-xs");
                    element_p.classList.add("font-weight-bold");
                    element_p.classList.add("mb-0");
                    element_p.innerHTML = 'Batch :';
                    cell.appendChild(element_p);
                    element_h6 = document.createElement("h6");
                    element_h6.classList.add("text-sm");
                    element_h6.classList.add("mb-0");
                    element_h6.innerHTML = batches.find(item => {
                        return item.id == students[stu].Batch
                    }).Batch
                    cell.appendChild(element_h6);

                    cell = row.insertCell(4);
                    element_p = document.createElement("p");
                    element_p.classList.add("text-xs");
                    element_p.classList.add("font-weight-bold");
                    element_p.classList.add("mb-0");
                    element_p.innerHTML = 'Degree :';
                    cell.appendChild(element_p);
                    element_h6 = document.createElement("h6");
                    element_h6.classList.add("text-sm");
                    element_h6.classList.add("mb-0");
                    element_h6.innerHTML = degrees.find(item => {
                        return item.id == students[stu].Degree
                    }).Degree
                    cell.appendChild(element_h6);
                }

                stu_table_row.classList.remove("invisible");
            }else{
                stu_table_row.classList.add("invisible");
                window.alert('No students for this filter');
            }
            
        }

        function onKeywordSearch(){
            var index = document.getElementById("searchby").value;
            var keyword = document.getElementById("keyword").value;

            console.log(index + " : " + keyword);
            console.log('searching...');

            keywordSearch_AJAX(index,keyword);

        }

        function onStudentSelectFromTable(row){
            console.log(row.dataset.id);
            document.getElementById("keyword").value = row.dataset.id;
            document.getElementById("searchby").value = 0;
            document.getElementById("search_form").submit();
            //keywordSearch_AJAX(0,row.dataset.id);
        }

        
        function keywordSearch_AJAX(index,keyword){
            $.ajax({
                    type: 'GET',
                    url: '/nac/stuprofile',
                    //headers: {'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')},
                    data: {
                        index: index,
                        keyword: keyword,
                    },
                    dataType: 'json',
                    encode: true
            }).always(function (response) {
                    if(response.status=='200'){
                        console.log('success');
                    }else if(response.status=='201'){
                        window.alert("No such student available");   
                    }else {
                        console.log('error');
                    }
                    console.log('triggered');
            });
        }

        function clearSelectOptions(element){
            element.innerHTML = '';
        }